@charset "UTF-8";

:root {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: #0F0D13;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex; 
    gap: 2rem;
    /* border: 1px solid red; */
}

h1 {
    color: #E1E1E6;
    margin: 0;
    font-size: 24px;
    transition: all .2s;
}
h1:hover {
    cursor: pointer;
}
h2 {
    color: rgba(225, 225, 230, 0.65);
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    transition: all .2s;
}
h2:hover{
    cursor: pointer;
}

.music-card {
    background-color: #2A2141;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transition: all .2s;
}

.music-img {
    border-radius: 1rem;
    width: 19rem;

}

.card-one .music-title {
    width: 190px;
    /* border: 1px solid red; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: max-content;
    height: 4rem;
    font-size: 28px;
    color: #E1E1E6;
    text-align: center;
    line-height: 0;
    border-radius: 50%;
    transition: background-color .3s;
}
button:active {
    background-color: rgba(217, 217, 217, 0.2);
    transition: all .05s;
}


.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 190px;
}

.duration-music-container {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.time-bar {
    width: 19rem;
    height: 6px;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: 999px;
    overflow: hidden;
    /* border: 1px solid red; */
}

.time-now-bar {
    width: 80%;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 999px;
    /* border: 1px solid red; */
}

.duration-music-time {
    color: rgba(217, 217, 217, 0.4);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    height: 23px;
}

.duration-music-container {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 1rem;
}

.card-one {
    width: 26rem;
    height: 48rem;
    
}

.card-two {
    width: 35rem;
    height: 26rem;
}

.card-two .music-title {
    /* border: 1px solid red; */
    width: 180px;
}

.card-two .container-img-title {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 30rem;
    /* border: 1px solid red; */
}

.card-two .music-img {
    width: 8.4rem;
}


.card-two .duration-music-container {
    width: 30rem;
}

.card-two .duration-music-container .time-bar {
    width: 100%;
}

.card-three {
    height: 20rem;
}

.container-cards-two-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}